.login-button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: blue;
    padding: 8px 8px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  
  .login-button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  
  